<div class="container">
	<p class="brands-list-container">
		{%- for product_vendor in shop.vendors -%}
			{{ product_vendor | link_to_vendor }}
		{%- endfor -%}
	</p>
</div>

{% schema %}
{
	"name": "Brands list",
	"class": "brands-list",
	"tag": "section",
	"enabled_on": {
		"templates": ["page"]
	},
	"settings": []
}
{% endschema %}